doctype html
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Create Post | EXpresser
    link(rel="stylesheet", href="/css/createPost.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
    link(rel="shortcut icon", href="/img/icon.png", type="image/png")
   
  body
    // NAVBAR
    header.header
      nav.navbar
        .nav-left
          a.logo(href="/")
            img.favicon(src="/img/icon.png", alt="Logo")
            span EXpresser
        .nav-right
          ul.nav-links
            if user
              li.nav-user
                a.nav__el(href='/me')
                  img.nav__user-img(src=`/img/users/${user.photo}`, alt=`Photo of ${user.name}`)
                  span= user.name.split(' ')[0]
                button.nav__el.nav__el--logout Logout
                a.nav__el.nav__el--post(href='/create-post') Create Post
            else
              li: a.nav__el(href="/login") Login
              li: a.nav__el.nav__el--cta(href="/signup") Sign Up

    main.blog-container
      h1 Create a New Blog Post
      form.form(enctype="multipart/form-data")
        .form-group
          label(for="title") Title
          input#title.form-control(type="text", name="title", required)

        .form-group
          label(for="excerpt") Excerpt
          textarea#excerpt.form-control(name="excerpt", rows="2")

        .form-group
          label(for="content") Content
          textarea#content.form-control(name="content", rows="10", required)

        .form-group
          label(for="tags") Tags (comma separated)
          input#tags.form-control(type="text", name="tags")

        .form-group.image-upload         
          label(for="imageCover") Cover Image
          .image-upload-container
            input#imageCover.form-control-file(type="file", name="imageCover", accept="image/*")
            .image-preview
              img#imagePreview(src="#", alt="Preview")
            small.form-text.text-muted Recommended size: 1200 x 600 pixels

        button.btn.btn--primary(type="submit") Publish Post

    // FOOTER
    footer.footer
      .footer-container
        .footer-left
          a.logo(href="/")
            img.favicon(src="/img/favicon.png", alt="Logo")
            span EXpresser
        .footer-right
          ul.footer-links
            li: a(href="/about") About
            li: a(href="/contact") Contact
            li: a(href="/privacy") Privacy
        .footer-bottom
          p © #{new Date().getFullYear()} EXpresser. All rights reserved.

    script(src='/js/bundle.js')
    
    script.
      const imageInput = document.getElementById('imageCover');
      const imagePreview = document.getElementById('imagePreview');
      const previewContainer = document.querySelector('.image-preview');
      
      imageInput.addEventListener('change', function(e) {
        const file = e.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
            imagePreview.src = e.target.result;
            previewContainer.style.display = 'block';
          }
          reader.readAsDataURL(file);
        } else {
          imagePreview.src = '#';
          previewContainer.style.display = 'none';
        }
      });
